@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">A bit about me</h1>
    <br>
    <p>This wep app was made by William Chadwick</p>
    <p>I blog at PerilousResonance.wordpress.com/</p>
</div>
